/* Import customed font Suisse Int'l */

@font-face {
    font-family: 'suisse_intlregular';
    src: url('src/fonts/suisse_intl-webfont.woff2') format('woff2'),
        url('src/fonts/suisse_intl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'suisse_intllight';
    src: url('src/fonts/suisseintl-light-webfont.woff2') format('woff2'),
        url('src/fonts/suisseintl-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}