//setting up color palette for the project
$black: #1D1D1B;
$accent: #FF3F61;
$gray: #797979;

body {
    background-color: $black;
}

* {
    color: white;
}

//this class will set everything inside the class with black color
//it is used when the container background color is too light to use white text
//please see colorthief.js for a more clear explanation
.black-contrast {
    color: $black !important;
    border-color: $black !important;

    * {
        color: $black !important;
        border-color: $black !important;
    }
}