// ------------------------------general element styling------------------------------
* {
    font-family: suisse_intllight, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
}

// ------------------overview page------------------
.stat-item{
    p {
        font-size: 1.2rem;
    }
    p.stat-number {
        font-size: 4rem;
        font-family: suisse_intlregular;
    }
}