#coffee .grid-container .content {
    margin: 0;

    &>section {
        flex: 0 0 50%;
        // the section itself also needs to be flexbox in order to limit the children within the box
        display: flex;
        flex-flow: column;
    }

    //make sure the center has one border without overlapping
    section:first-child {
        border-right: 1px solid white;
    }
}

#coffee-list {
    height: 85vh;

    h2 {
        border-bottom: 1px solid white;
        padding: 1% 2%;
    }

    ul {
        overflow: scroll;
        height: 100%; //the content takes up 2/3 of the grid height
        // reset the list style
        list-style: none;
        padding: 0;
        margin: 0;

        .coffee-item {
            cursor: pointer;
            padding: 2%;
            height: fit-content;
            border-bottom: 1px solid white;
            text-decoration: none;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            transition: all 300ms ease-out;

            &:hover {
                background-color: white;

                * {
                    color: $black;
                    border-color: $black;
                }
            }

            .coffee-item-wrap {

                //make sure the text display is consistent even user type different cases
                * {
                    text-transform: capitalize;
                }

                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    padding: 2px 0;
                }

                span:not(:first-child) {
                    margin-left: 0.5rem;
                }

            }

            .coffee-item-wrap:last-child {
                text-align: right;
            }
        }
    }
}

//styling the detailed page of coffee description
#coffee-info {
    padding: 2%;
    height: 85vh;

    #hint-text {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .coffee-item-info {
        transition: all 500ms cubic-bezier(0.72, 0.2, 0.34, 0.83);
        height: 100%; // make sure the information container take up the whole height
        display: flex;
        justify-content: center;
        gap: 1rem 0;
        flex-wrap: wrap;
        flex-direction: row;

        .info-col {
            flex: 0 0 50%; //even spliting the container
            display: flex;
            flex-direction: column;

            &:first-child {
                border-right: 1px solid white;
            }

            .info-row {
                padding: 2%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child) {
                    border-bottom: 1px solid white;
                }

                //the fourth child of the column will take up the remaining space
                &:nth-child(4) {
                    flex: 1;
                }
            }

            //for the special row, it needs some adjustment as I made it too complicated in the design phase
            .special-row {
                display: flex;
                flex-direction: column;

                &>* {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                }

                .special-row-2 {
                    justify-content: flex-start;
                    gap: 0.5rem;

                    &>*:first-child {
                        flex: 100%;
                    }

                    //make the min-width of the chip tags here wider, as the text size gets bigger
                    .chips {
                        min-width: 5rem;
                    }
                }

                .special-row-3 {
                    .info-item-wrapper {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            //for the image row it is the same as the special row
            .image-row {
                img {
                    object-fit: contain;
                    width: 100%;
                    border: 1px solid white;
                }

                padding: 8%;
            }

        }

        .coffee-delete {
            flex: 0 0 100%; //take up the whole row
            max-width: none;
            align-self: flex-end;
            background-color: transparent;
        }
    }

    .is-hidden {
        display: none;
        opacity: 0;
        transform: scale(0);
    }

}

#coffee-form {

    .form-page {
        .form-input-container {
            padding: 6%;
            label {
                flex-shrink: 0;
            }
            .form-text:not(:first-child) {
                margin-left: 1rem;
            }

        }
        &:first-child{
            .form-input-container {
                .form-item {
                    &:first-child {
                        flex-grow: 0;
                    }
    
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        flex-grow: 0;
                    }
    
                }    
            }   
            
        }

    }
}


//------------------------------------------- RESPONSIVE BREAKPOINT -------------------------------------------
@media screen and (max-width: 480px) {

    #coffee {
        .grid-container {

            .content {
                height: 80vh;
                flex-direction: column-reverse;
                border-left: 1px solid white;
                border-right: 1px solid white;


                #coffee-info {
                    padding: 4%;
                    border: none;
                    border-top: 1px solid white;
                    height: max-content;
                    flex: 0 0 66.7%;

                    #hint-text {
                        padding: 5%;
                    }
                }

                #coffee-list {
                    overflow: scroll;
                    flex: 0 0 33.3%;

                }

                li {
                    &:last-child {
                        .coffee-item {
                            border-bottom: none;
                        }
                    }

                    &:nth-child(-n+2) {
                        .coffee-item {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }

        #coffee-form {
            .form-page {
                justify-content: space-between;
                .form-input-container {
                    padding-top: 20%;

                    .form-item {
                        flex-grow: 1;

                        label {
                            flex-shrink: 0;
                        }
                    }

                    .form-item:nth-child(5) {
                        flex-basis: 100%; //take up the whole line
                    }

                    .tag-container {
                        flex-basis: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                    }

                }
            }

            .progress-container {
                padding: 10% 6%;
                flex-direction: row-reverse;
            }
        }

    }
}