#coffee .grid-container .content {
    margin: 0;
    section {
        flex: 1;
        // the section itself also needs to be flexbox in order to limit the children within the box
        display: flex;
        flex-flow: column;
    }
    //make sure the center has one border without overlapping
    section:first-child {
        border-right: 1px solid white;
    }
}
#coffee-list {
    height: 100%;
    h2 {
        border-bottom: 1px solid white;
        padding: 1% 2%;
    }

    ul {
        overflow: scroll;
        height: calc(2/3 * 100vh); //the content takes up 2/3 of the grid height
        // reset the list style
        list-style: none;
        padding: 0;
        margin: 0;

        .coffee-item {
            cursor: pointer;
            padding: 2%;
            height: fit-content;
            border-bottom: 1px solid white;
            text-decoration: none;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .coffee-item-wrap {
                //make sure the text display is consistent even user type different cases
                * {
                    text-transform: capitalize;
                }
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3 {
                    padding: 2px 0;
                }
                span:not(:first-child) {
                    margin-left: 0.5rem;
                }

            }

            .coffee-item-wrap:last-child {
                text-align: right;
            }
        }
    }
}

//styling the detailed page of coffee description
#coffee-info {
    padding: 2%;
    .coffee-item-info{

        height: 100%; // make sure the information container take up the whole height
        background-color: gray;
        display: flex;
        flex-direction: row;
        .info-col {
            flex: 1; //even spliting the container
            display: flex;
            flex-direction: column;

            &:first-child {
                border-right: 1px solid white;
            }
            .info-row {
                padding: 2%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:not(:last-child){
                    border-bottom: 1px solid white;
                }
                //the fourth child of the column will take up the remaining space
                &:nth-child(4) {
                    flex: 1;
                }
            }
            //for the special row, it needs some adjustment as I made it too complicated in the design phase
            .special-row {
                display: flex;
                flex-direction: column;
                & > * {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                }
                .special-row-2 {
                    justify-content: flex-start;
                    // gap: 0.25rem;
                    & > *:first-child {
                        flex: 100%;
                    }
                    //make the min-width of the chip tags here wider, as the text size gets bigger
                    .chips {
                        min-width: 5rem;
                    }
                }
                .special-row-3 {
                    .info-item-wrapper{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .special-row-4 {
                    p {
                        border: 1px solid white;
                        padding: 2%;
                    }
                }
            }
        }
    }

    .is-hidden {
        display: none;
    }

}