#coffee .grid-container .content {
    margin: 0;
    section {
        flex: 1;
        // the section itself also needs to be flexbox in order to limit the children within the box
        display: flex;
        flex-flow: column;
    }
    //make sure the center has one border without overlapping
    section:first-child {
        border-right: 1px solid white;
    }
}
#coffee-list {
    overflow: scroll;
    h2 {
        border-bottom: 1px solid white;
        padding: 1% 2%;
    }

    ul {
        // reset the list style
        list-style: none;
        padding: 0;
        .coffee-item {
            padding: 2%;
            height: 150px;
            border: 1px solid white;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .coffee-item-wrap {
                flex: 1;
                display: flex;
                flex-direction: column;
                h3 {
                    margin-bottom: 4px;
                }
                span:not(:first-child) {
                    margin-left: 0.5rem;
                }

            }

            .coffee-item-wrap:last-child {
                text-align: right;
            }
        }
    }
}