// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

#gadget .content {
    // this is to make sure that the glider takes up the whole content space
    flex-direction: column;
    justify-content: center;
    margin: auto 2%;
}

#gadget-carousel {

    li.glide__slide {
        //make sure it has the same height as the parent container
        height: inherit;
    }

    .carousel-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
        padding: 5%;
        position: relative;
        .flex-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
    
        }
        p {
            font-size: 1.5rem;
            text-transform: capitalize;
        }
        img {
            flex: 1;
            border: 2vh solid white;
            object-fit: contain;
            width: 100%;
            margin: auto;
        }
        .gadget-delete {
            display: none;
            
        }
        &:hover {
            .gadget-delete {
                z-index: 999;//make sure the button is at the top for us to see
                display: block;
                //center the delete button without the translate
                //translate will disrupt the scale animation
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                &:hover {
                    //blur the image when hovering on the delete button
                    & + * {
                        transition: all 0.2s ease-in;
                        filter: blur(5px);
                    }
                }
            }
        }
    }
}


//some independent styling for the gadget form
#gadget-form {

    & .form-page {
        justify-content: flex-end;
        gap: 3rem;

        .form-row {
            margin-left: 12rem;
        }
        //adjust the first page of the gadget form
        &:first-child {
            gap: 5rem;
            .form-item {
                height: 10rem;
                .radio-wrapper {
                    margin-left: 5rem;

                    .radio-text {
                        font-size: 2.5rem;
                    }
                }
            }

        }
        .form-text{
            margin: 0;
        }
    }
}



//------------------------------------------- RESPONSIVE BREAKPOINT -------------------------------------------
@media screen and (max-width: 480px) {
    #gadget .grid-container {

        height: 80vh;
        p {
            font-size: 2rem;
        }
    }
}