// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

#gadget .content {
    // this is to make sure that the glider takes up the whole content space
    flex-direction: column;
    justify-content: center;
    margin: auto 2%;
}
.carousel-item {
    // width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 5%;
    .flex-row {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
    p {
        font-size: 1.5rem;
    }
    img {
        // flex: 1;
        border: 2vh solid rgb(255, 229, 233);
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}


//some independent styling for the gadget form
#gadget-form {

    & .form-page {
        justify-content: flex-end;
        gap: 3rem;

        .form-row {
            margin-left: 12rem;
        }
        //adjust the first page of the gadget form
        &:first-child {
            gap: 5rem;
            .form-item {
                height: 10rem;
                .radio-wrapper {
                    margin-left: 5rem;

                    .radio-text {
                        font-size: 2.5rem;
                    }
                }
            }

        }
        .form-text{
            margin: 0;
        }
    }
}