button {
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;

    // height: 3rem;
    // max-width: 10rem;
    //add a click effect for all the buttons
}

// fill in animation for buttons
.fill-in {
    transition: all .5s ease;
    &:hover {
        box-shadow: inset 0 0 0 2em $accent;
    }
    &:active {
        transform: scale(0.96);
    }
}

input[type="submit"],
input[type="button"] {
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    height: 3rem;
    max-width: 10rem;

    &:disabled {
        border-color: $gray;
        color: $gray;
        cursor: not-allowed;

        //remove the box-shadow animation when a button is disabled
        &:hover {
            box-shadow: none;
        }
    }

}

//set up the color for different type of buttons 
.black-fill {
    color: white;
    background: $black;
}

.white-fill {
    color: $black;
    background: white;
}

.black-border {
    border: 1px solid $black;
}

.white-border {
    border: 1px solid white;
}

input[name="close"] {
    bottom: -50%;
    right: -4%;
    position: absolute;

    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
