.cursor {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid white;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 9999;
}

.cursor2 {
    width: 8px;
    height: 8px;
    background-color: $accent;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 9999;
}

.hover {
    width: 36px;
    height: 36px;
    border: 1px solid $accent;
}

//responsible for inner cursor when clicking
.cursorinnerhover {
    background-color: white;
}
.click {
    width: 48px;
    height: 48px;
}
//disabled the custom cursor when on a smaller screens
@media screen and (max-width: 768px) {
    .cursor, .cursor2 {
        display: none;
        visibility: hidden;
    }
    
}
//Customised Icons
.arrow {
    background-color: white;
    height: 1px;
    width: 24px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    transition: all 200ms ease;

    &:before,
    &:after {
        content: "";
        background-color: white;
        position: absolute;
        height: 1px;
        width: 12px;
    }

    &:before {
        right: -2px;
        bottom: -4px;
        transform: rotate(-45deg);
    }

    &:after {
        right: -2px;
        top: -4px;
        transform: rotate(45deg);
    }
}

.down-arrow {
    transform: rotate(90deg);
}

.up-arrow {
    transform: rotate(-90deg);
}