// Tagify styles are imported directly in HTML
//override some style here
$black: #1D1D1B;
$accent: #FF3F61;
$gray: #797979;
//the tags container
.tagify {
    border: none;
    border-bottom: 1px solid $gray;
    width: 100%;
    &:focus-within {
        border-color: $accent;
        transition: 200ms all ease-in-out;
    }
    .tagify__tag {
        --tag-bg: white;
        --tag-border-radius: 100px;
        --tag-hover: #FF3F61;

        .tagify__tag__removeBtn {
            color: $black;
        }

        .tagify__tag-text {
            color: $black !important;

            &:focus {
                color: white !important;
            }
        }
    }
}


