// ---------------------------basic layout section grid---------------------------
.grid-container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    gap: 0px 16px;
    grid-auto-flow: row;
    grid-template-areas:
        "top-white-space top-white-space top-white-space top-white-space top-white-space top-white-space top-white-space top-white-space top-white-space top-white-space top-white-space top-white-space"
        "heading heading heading heading heading heading heading heading heading heading heading heading"
        "content content content content content content content content content content content content"
        "bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space bottom-white-space";

    .content {
        grid-area: content;
        display: flex;
        margin: 0 2%;

    }

    .heading {
        grid-area: heading;
        padding: 0 2%;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-white-space {
        grid-area: top-white-space;
    }

    .bottom-white-space {
        grid-area: bottom-white-space;
        border-top: 1px solid white;
    }
}


